
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<input type="button" class="btn btn-info" value="Cargar" id="btnCargarInterprete" />
<br />
<br />


<div id="divListadoInterprete">

</div>


<script>

    $('#btnCargarInterprete').click(function () {
        //alert("Ando bien");
        CargarListadoInterprete();
    });

    function CargarListadoInterprete() {
        $.ajax({
            type: "POST",
            url: "/Invitado/Main/Listado",
            success: function (html) {
                $("#divListadoInterprete").html(html);
            }
        });
    }
</script>